<div>
    <h1> Welcome {{account.email}}!</h1>

    <h2> Current Balance is: {{account.balance | currency: "USD"}}</h2>

    <div>
    <form (ngSubmit)="deposit()">
        <label for="deposit">Make a deposit!</label>
        <input type="number" name="deposit" id="deposit" [(ngModel)]="depositAmount">
        <button type="submit" class="btn btn-primary m-3">Deposit!!</button>
    </form>
    </div>

    <div class="mt-3">
        <form (ngSubmit)="withdraw()">
            <label for="deposit">Make a withdrawal!</label>
            <input type="number" name="deposit" id="deposit" [(ngModel)]="withdrawAmount">
            <button type="submit" class="btn btn-primary m-3">Withdraw!!</button>
        </form>
        </div>
</div>


